<section class="slack-installation">
  <h3><%= t(".installation") %></h3>

  <div>
    1. <%= link_to t(".visit_account_settings"), edit_account_path %>.
  </div>
  <br>
  <div>
    2. <%= t(".add_to_slack") %><br>
    <%= image_tag("marketing/slack/install_button_location.jpg") %>
  </div>
  <br>
  <div>
    3. <%= t(".authorize") %>
  </div>
</section>
