<section class="slack-usage">
  <h3><%= t(".how_to_use") %></h3>
  <br><br>

  <h4><%= t(".commands") %></h4>
  <br>

  <strong><%= t(".list_all.title") %></strong><br>
  <code><%= t(".list_all.code") %></code> <br><br>

  <strong><%= t(".export.title") %></strong><br>
  <code><%= t(".export.code") %></code><br><br>

  <strong><%= t(".list_variables.title") %></strong><br>
  <code><%= t(".list_variables.code") %></code><br><br>

  <strong><%= t(".preview_link.title") %></strong><br>
  <code><%= t(".preview_link.code") %></code><br><br>

  <strong><%= t(".publish.title") %></strong><br>
  <code><%= t(".publish.code") %></code><br><br>

  <strong><%= t(".update_variable.title") %></strong><br>
  <code><%= t(".update_variable.code") %></code><br><br>
</section>
