<div class="stylesheet-footer">
  <div>

    <div class="col-xs-3">
      <button class="btn btn-secondary sidebar-toggle">
        <span class="oi oi-menu"></span>
      </button>
    </div>

    <div class="col-xs-6" style="text-align: center">

      <select id="preview-iframe-select" class="c-select" data-framework="<%= @stylesheet.framework %>" data-version="<%= @stylesheet.version %>" data-link="<%= current_account.site_url %>">
        <option value="components">
          <%= t(".preview_templates.components") %>
        </option>
        <option value="jumbotron">
          <%= t(".preview_templates.jumbotron") %>
        </option>
        <option value="narrow_jumbotron">
          <%= t(".preview_templates.narrow_jumbotron") %>
        </option>
        <option value="grid">
          <%= t(".preview_templates.grid") %>
        </option>
        <option value="dashboard">
          <%= t(".preview_templates.dashboard") %>
        </option>
        <% if current_account.site_url.present? %>
          <option value="site-preview">
            Your Website
          </option>
        <% end %>
      </select>

      <div class="viewer-toggle" role="group" aria-label="Viewport Toggle">
        <button type="button" data-viewport-type="mobile-preview">
          <span class="oi oi-phone"></span>
        </button>
        <button type="button" class="selected" data-viewport-type="desktop-preview">
          <span class="oi oi-browser"></span>
        </button>
      </div>
    </div>


    <div class="col-xs-3" style="text-align: right">
      <%# f.input :name, label: false %>
      <%= f.submit %>
    </div>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="embed-instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Embed Instructions</h4>
      </div>
      <div class="modal-body">
        <%= render partial: "application/embeds/instructions" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
