<%= simple_form_for @stylesheet do |f| %>
  <div>
    <div>
      <h3><%= t(".new_stylesheet") %></h3>

      <h5><%= t(".bootstrap_version") %></h5>

      <br>

      <%= f.input :name %>
      <%= f.input :framework,
        as: :hidden,
        input_html: { value: "bootstrap" }
      %>
      <%= f.input :version, as: :hidden, input_html: { value: "3.3" } %>

      <br>
      <%= f.submit %>
    </div>
  </div>
<% end %>
