<%= simple_form_for @stylesheet do |f| %>
  <div>
    <div>
      <%= f.input :name %>
      <%= f.input :framework, collection: Stylesheet.framework_select_options  %>
      <%= f.input :version, collection: []  %>

      <%= f.submit %>
    </div>
  </div>
<% end %>
