<tr class="stylesheet">
  <td>
  <%= link_to edit_stylesheet_path(stylesheet) do %>
    <%= stylesheet.name %>
  <% end %>
  </td>

  <td>
    <%= link_to_if(
      current_account.site_url.present?,
      t(".preview"),
      current_account.site_url + "?aphrodite=true&aphrodite-id=#{stylesheet.id}",
      target: :blank,
      data: { no_turbolink: true }) do %>
        ?aphrodite=true&aphrodite-id=<%= stylesheet.id %>
        <%# #TODO: Add Link To Help %>
    <% end %>
  </td>
  <td>
    <div class="download-dropdown" role="group">
      <button type="button" data-toggle="dropdown">
        <%= t(".download") %>
      </button>
      <div>
        <%= link_to t(".minified"), stylesheet_path(stylesheet) + ".min.css", target: "_blank" %>
        <%= link_to t(".unminified"), stylesheet_path(stylesheet) + ".css", target: "_blank" %>
      </div>
    </div>

    <%= simple_form_for(stylesheet, method: :delete) do |f| %>
      <%= f.submit t(".delete"), data: { confirm: t(".delete_confirmation") } %>
    <% end %>
  </td>
</tr>
