<tr>
  <td>
  <%= link_to edit_stylesheet_path(stylesheet) do %>
    <%= stylesheet.name %>
  <% end %>
  </td>

  <td>
    <%= link_to_if(
      current_account.site_url.present?,
      t(".preview"),
      current_account.site_url + "?aphrodite=true&aphrodite-id=#{stylesheet.id}",
      target: :blank,
      data: { no_turbolink: true }) do %>
        ?aphrodite=true&aphrodite-id=<%= stylesheet.id %>
        <%# #TODO: Add Link To Help %>
    <% end %>
  </td>
  <td>
    <%= simple_form_for(stylesheet, method: :delete) do |f| %>
      <%= f.submit t(".delete"), class: "btn btn-secondary btn-sm", data: { confirm: "This cannot be undone" } %>
    <% end %>
  </td>
</tr>
