<tr>
  <td>
  <%= link_to edit_stylesheet_path(stylesheet) do %>
    <%= stylesheet.name %>
  <% end %>
  </td>
  <td>
    <%= link_to "Embed", stylesheet_embed_path(stylesheet) %>
  </td>
  <td>
    <%= link_to_if(
      current_account.site_url.present?,
      "Preview",
      current_account.site_url + "?aphrodite=true&aphrodite-id=#{stylesheet.id}",
      target: :blank,
      data: { no_turbolink: true }) do %>
        ?aphrodite=true&aphrodite-id=<%= stylesheet.id %>
        <%# #TODO: Add Link To Help %>
    <% end %>
  </td>
</tr>
