<%= simple_form_for(@stylesheet, remote: true) do |f| %>
<div class="container" id="edit-stylesheet" data-stylesheet-id="<%= @stylesheet.id %>">
  <div class="row">
    <div class="col-xs-12">


      <div id="preview-window" class="desktop-preview">
        <div class="browser">
          <div></div>
          <div></div>
        </div>

        <div>
          <div id="iframe-spinner" class="hidden-xs-up">
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
          </div>

          <iframe onmouseover="cssManager.disableBodyScroll()" onmouseout="cssManager.enableBodyScroll()" id="preview-iframe" class="embed-responsive-item" data-stylesheet-id="<%= @stylesheet.id %>" src="<%= Rails.application.config.root_url %>/jumbotron_example.html?preview-css=true&stylesheetId=<%= @stylesheet.id %>">
          </iframe>
        </div>
      </div>

    </div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-xs-12">
      <br><br>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <% @stylesheet.variables.group_by(&:category).each_pair do |category, variables| %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-<%= category.id %>">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= category.id %>" aria-expanded="false" aria-controls="collapse-<%= category.id %>">
                  <%= category.name %>
                </a>
              </div>
            </div>

            <div id="collapse-<%= category.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= category.id %>">
              <div class="row">
                <% variables.each do |variable| %>
                  <div class="col-sm-4 col-md-3">

                    <%= f.fields_for :variables, variable do |v| %>
                      <%= v.input :id, as: :hidden %>

                      <% if variable.default? %>
                        <%= variable.name %>
                      <% else %>
                        <%= v.input :name, label: false %>
                      <% end %>

                      <%= v.input :preview_value, label: false, input_html: { class: "form-control-sm" } %>
                    <% end %>

                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<%= render partial: "application/stylesheets/footer", locals: { f: f } %>


<% end %>
