<div class="container" id="edit-stylesheet" data-stylesheet-id="<%= @stylesheet.id %>">
  <div class="row">
    <div class="col-xs-12">


      <div id="preview-window" class="desktop-preview">
        <div class="browser">
          <div></div>
          <div></div>
        </div>

        <div>
          <div id="iframe-spinner" class="hidden-xs-up">
            <div class="spinner">
              <div class="dot1"></div>
              <div class="dot2"></div>
            </div>
          </div>

          <iframe onmouseover="cssManager.disableBodyScroll()" onmouseout="cssManager.enableBodyScroll()" id="preview-iframe" class="embed-responsive-item" data-stylesheet-id="<%= @stylesheet.id %>" src="<%= Rails.application.config.root_url %>/jumbotron_<%= @stylesheet.framework %>_<%= @stylesheet.version %>_example.html?preview-css=true&stylesheetId=<%= @stylesheet.id %>">
          </iframe>
        </div>
      </div>

    </div>
  </div>
</div>


<%= simple_form_for(@stylesheet, remote: true) do |f| %>
  <%= render partial: "application/stylesheets/sidebar", locals: { f: f } %>
  <%= render partial: "application/stylesheets/footer", locals: { f: f } %>
<% end %>
