<%= render "marketing/shared/hero_block" do %>
  <div class="slack-info">
    <h1>
      <%= image_tag("marketing/slack/slack_hash.png") %>
      Aphrodite + Slack
    </h1>
  </div>
<% end %>

<%= render partial: "marketing/static_pages/slack/installation" %>
<%= render partial: "marketing/static_pages/slack/usage" %>

<%= render partial: "marketing/shared/footer" %>
