<header>
  <h3><%= t(".heading") %></h3>
</header>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <%= f.input :password, autofocus: true, autocomplete: "off" %>
  <%= f.input :password_confirmation, autocomplete: "off" %>

  <footer>
    <%= f.submit t(".submit") %>
  </footer>
<% end %>
