<nav class="application-header">
  <%= link_to stylesheets_path do %>
    <%= image_tag "logos/swan_white_text.png",
                  srcset: asset_path("logos/swan_white_text_2x.png") %>
  <% end %>

  <div>
    <%= link_to t(".stylesheets"), stylesheets_path %>
    <%= link_to t(".account"), edit_account_path %>
    <%= link_to t(".logout"), destroy_user_session_path, method: :delete %>
  </div>
</nav>
