<footer class="marketing-footer">
  <div>
    <section>
      <div>
        <ul>
          <li><%= link_to t(".home"), root_path %></li>
          <li><%= link_to(t(".features"), root_path(anchor: "features"), data: { turbolinks: false }) %></li>
          <li><%= link_to(t(".pricing"), root_path(anchor: "pricing"), data: { turbolinks: false }) %></li>
          <li><a href="#"><%= t(".about") %></a></li>
          <li><%= link_to t(".login"), new_user_session_path %></li>
        </ul>
      </div>
    </section>

    <section>
      <div>
        <%= t(".crafted_in_boston") %>
      </div>
    </section>
  </div>
</footer>
