<nav class="marketing-header">
  <%= link_to root_path do %>
    <span>
      <%= image_tag "logos/swan_white.png" %>
    </span>
    Aphrodite
  <% end %>

  <div class="toggle">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
      &#9776;
    </button>
  </div>

  <div class="collapse menu-links" id="exCollapsingNavbar">
    <div>
      <%= link_to t(".home"), root_path %>
      <%= link_to(t(".features"), root_path(anchor: "features")) %>
      <%= link_to(t(".pricing"), root_path(anchor: "pricing")) %>
      <a href="#"><%= t(".about") %></a>
      <% if Rails.env != "production" || params[:preview] == "true" %>
        <%= link_to t(".login"), new_user_session_path %>
      <% end %>
    </div>
  </div>
</nav>
