<%= render "marketing/shared/hero_block" do %>
  <%= render partial: "hero_content" %>
<% end %>

<a name="features"></a>
<%= render partial: "build" %>
<%= render partial: "preview" %>
<%# render partial: "slack" %>

<div>
  <a name="pricing"></a>
  <%= render partial: "pricing_plans/pricing_plans" %>
</div>

<%= render partial: "marketing/shared/footer" %>
