<%= render "marketing/shared/hero_block" do %>
  <div class="hero-content">
    <h3>Manage Your Websites Appeal</h3>
    <p>Let your designers take control of your site's look and not have to
      bother developers.</p>

    <% if Rails.env == "production" %>
      <h6>Coming Soon!</h6>
    <% else %>
      <%= link_to "Get Started", new_registration_path, class: "btn btn-warning" %>
    <% end %>

  </div>
<% end %>

<% if Rails.env != "production" || params[:preview] == "true" %>
  <%= render partial: "build" %>
  <%= render partial: "preview" %>
  <%= render partial: "slack" %>

  <div>
    <%= render partial: "pricing_plans/pricing_plans" %>
  </div>

  <%= render partial: "marketing/shared/footer" %>
<% end %>
