<%= simple_form_for account do |f| %>
  <br><br>
  <label><%= t(".site_url_label") %></label>
  <p><%= t(".site_url_description") %></p>
  <%= f.input :site_url, label: false %>

  <br><br>
  <% if 1==2 %>
    <h5><%= t(".slack_label") %></h5>
    <%= f.input :slack_publishing, as: :boolean %>
    <p><%= t(".slack_description") %></p>
  <% end %>

  <%= f.submit t(".submit") %>
<% end %>
