<%= render layout: "layouts/account_settings" do %>
  <div>
    <h3>Account Settings</h3>
  </div>

  <div>
    <%= simple_form_for @account do |f| %>
      <%= f.input :site_url %>
      <%= f.input :slack_publishing, as: :boolean %>

      <%= f.submit %>
    <% end %>
  </div>
<% end %>
