<!DOCTYPE html>
<html>
  <head>
    <title>Aphrodite Css</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= render "shared/fonts" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render "application/shared/header" %>

    <%= yield %>

    <% if content_for?(:footer) %>
      <% yield(:footer) %>
    <% end %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'cable' %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  </body>
</html>
