<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/fonts" %>

    <title><%= t(".title") %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'marketing', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'marketing', 'data-turbolinks-track' => 'reload' %>
    <%= render partial: "marketing/shared/google_analytics" %>
    <%= render partial: "shared/mixpanel" %>
  </head>

  <body data-current-page="<%= "#{controller_name}##{action_name}" %>">
    <%= yield %>
  </body>
</html>
