<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/fonts" %>

    <title>Aphrodite Css</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'marketing', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'marketing', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
